{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <script>
        // add-collection-widget.js
        jQuery(document).ready(function () {
            // Get the ul that holds the collection of tags
            var $uslCollectionHolder = $('ul#usl-fields-list');
            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $uslCollectionHolder.data('index', $uslCollectionHolder.find('input').length);

            $uslCollectionHolder.find('li').each(function() {
                addFormDeleteLink($(this));
            });

            var $lekCollectionHolder = $('ul#lek-fields-list');
            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $lekCollectionHolder.data('index', $lekCollectionHolder.find('input').length);

            $lekCollectionHolder.find('li').each(function() {
                addFormDeleteLink($(this));
            });

            $('body').on('click', '.add_item_link', function(e) {
                var $collectionHolderClass = $(e.currentTarget).data('list-selector');
                // add a new tag form (see next code block)
                addFormToCollection($collectionHolderClass);
            })
        });

        function addFormToCollection($collectionHolderClass) {
            // Get the ul that holds the collection of tags
            var $collectionHolder = $($collectionHolderClass);

            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            var newForm = prototype;
            // You need this only if you didn't set 'label' => false in your tags field in TaskType
            // Replace '__name__label__' in the prototype's HTML to
            // instead be a number based on how many items we have
            // newForm = newForm.replace(/__name__label__/g, index);

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            newForm = newForm.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<li class="form-group row"></li>').append(newForm);
            // Add the new form at the end of the list
            $collectionHolder.append($newFormLi)


            addFormDeleteLink($newFormLi);

            updateSelectPicker();
        }

        function addFormDeleteLink($tagFormLi) {
            var $removeFormButton = $('<button type="button" class="close close-button" aria-label="Close"><span aria-hidden="true">×</span></button>');
            $tagFormLi.prepend($removeFormButton);

            $removeFormButton.on('click', function(e) {
                // remove the li for the tag form
                $tagFormLi.remove();
            });
        }

        function updateSelectPicker() {
            $('.selectpickerusl').selectpicker({
                liveSearchPlaceholder: "Поиск услуги",
                noneSelectedText: 'Услуга не выбран',
                liveSearch: true,
            });

            $('.selectpickerlek').selectpicker({
                liveSearchPlaceholder: "Поиск лекарства",
                noneSelectedText: 'Лекарство не выбрано',
                liveSearch: true,
            });
        }

        $(function () {
            $('.selectpicker').selectpicker({
                liveSearchPlaceholder: "Поиск пациента",
                noneSelectedText: 'Пациент не выбран',
                liveSearch: true,
            });
            $('.selectpickermkb').selectpicker({
                liveSearchPlaceholder: "Поиск диагноза",
                noneSelectedText: 'Диагноз не выбран',
                liveSearch: true,
                selectedText: 'cat'
            });

            updateSelectPicker();
        });

    </script>
    <style>
        #sluch-block .form-group .datepicker{
            margin: 10px;
        }
        #usl-fields-list{
            margin-bottom: 15px;
        }

        #usl-fields-list li,
        #lek-fields-list li{
            position: relative;
        }

        #usl-fields-list li > div,
        #lek-fields-list li > div {
            margin-left: 20px;
        }
        #usl-fields-list li> button.close-button,
        #lek-fields-list li> button.close-button {
            position: absolute;
            top: 0;
            left: 0;
        }
    </style>
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-6 mb-6" style="border-right: 1px dashed #6c8bc0;">
            <div class="form-group">
                {{ form_errors(form.patient) }}
                <label for="patient">{{ form_label(form.patient) }}</label>
                {{ form_widget(form.patient) }}
                <small id="emailHelp" class="form-text text-muted">Выберите пациента, которому проводится
                    лечение</small>
            </div>
            <div class="form-group row">
                {{ form_errors(form.nMedCard) }}
                <label for="nMedCard" class="col-sm-5 col-form-label">{{ form_label(form.nMedCard) }}</label>
                <div class="col-sm-7">{{ form_widget(form.nMedCard) }}</div>
            </div>
            <div class="form-group row">
                {{ form_errors(form.dbeg) }}
                <label for="dbeg" class="col-sm-5 col-form-label">{{ form_label(form.dbeg) }}</label>
                <div class="col-sm-7">{{ form_widget(form.dbeg) }}</div>
            </div>
            <div class="form-group row">
                {{ form_errors(form.dend) }}
                <label for="dend" class="col-sm-5 col-form-label">{{ form_label(form.dend) }}</label>
                <div class="col-sm-7">{{ form_widget(form.dend) }}</div>
            </div>
            <div class="form-group">
                {{ form_errors(form.mkb) }}
                <label for="mkb">{{ form_label(form.mkb) }}</label>
                {{ form_widget(form.mkb) }}
                <small id="emailHelp" class="form-text text-muted">Выберите основной диагноз пациента из списка</small>
            </div>

            <div class="form-group row">
                {{ form_errors(form.uslOk) }}
                <label for="uslOk" class="col-sm-5 col-form-label">{{ form_label(form.uslOk) }}</label>
                <div class="col-sm-7">{{ form_widget(form.uslOk) }}</div>
            </div>

            <div class="form-group row">
                {{ form_errors(form.forma) }}
                <label for="forma" class="col-sm-5 col-form-label">{{ form_label(form.forma) }}</label>
                <div class="col-sm-7">{{ form_widget(form.forma) }}</div>
            </div>

            <div class="form-group row">
                {{ form_errors(form.stage) }}
                <label for="forma" class="col-sm-5 col-form-label">{{ form_label(form.stage) }}</label>
                <div class="col-sm-7">{{ form_widget(form.stage) }}</div>
            </div>

            <div class="form-group row">
                {{ form_errors(form.phase) }}
                <label for="forma" class="col-sm-5 col-form-label">{{ form_label(form.phase) }}</label>
                <div class="col-sm-7">{{ form_widget(form.phase) }}</div>
            </div>

        </div>
        <div class="col-md-6 mb-6" id="sluch-block">
            <div style="margin-bottom: 25px;
    border-bottom: 1px dashed #6c8bc0;
    padding-bottom: 33px;">
                <ul id="usl-fields-list" style="list-style: none"
                    data-prototype="{{ form_widget(form.usl.vars.prototype)|e }}"
                    data-widget-counter="{{ form.usl|length }}">
                    {% for uslField in form.usl %}
                        <li class="form-group row">
                            {{ form_errors(uslField) }}
                            {#{{ form_label(uslField) }}#}
                            {{ form_widget(uslField) }}
                        </li>
                    {% endfor %}
                </ul>
                <button type="button" class="btn btn-info add_item_link"  style="margin: auto;display: block;" data-list-selector="#usl-fields-list">Добавить услугу</button>
            </div>
            <div style="margin-bottom: 25px;
    border-bottom: 1px dashed #6c8bc0;
    padding-bottom: 33px;">
                <ul id="lek-fields-list" style="list-style: none"
                    data-prototype="{{ form_widget(form.lek.vars.prototype)|e }}"
                    data-widget-counter="{{ form.lek|length }}">
                    {% for lekField in form.lek %}
                        <li class="form-group row">
                            {{ form_errors(lekField) }}
                            {#{{ form_label(lekField) }}#}
                            {{ form_widget(lekField) }}
                        </li>
                    {% endfor %}
                </ul>
            <button type="button" class="btn btn-info add_item_link"  style="margin: auto;display: block;" data-list-selector="#lek-fields-list">Назначить препарат</button>
            </div>
        </div>
    </div>
    {{ form_rest(form) }}

{% endblock %}
