{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <style>
        #usl-fields-list,
        #lek-fields-list {
            margin: 0;
            padding: 0;
            list-style: none;
        }


        #usl-fields-list li,
        #lek-fields-list li {
            position: relative;
        }

        #usl-fields-list li > div,
        #lek-fields-list li > div {
            margin-left: 20px;
        }

        #usl-fields-list li > button.close-button,
        #lek-fields-list li > button.close-button {
            position: absolute;
            top: 0;
            left: 0;
        }
    </style>

    {{ form_start(form) }}

    <div class="form-group">
        {{ form_errors(form.expStd) }}
        {{ form_label(form.expStd) }}
        {{ form_widget(form.expStd) }}
    </div>


    {% if form.mkb is defined and form.mkb %}
        <div class="form-group">
            {{ form_errors(form.mkb) }}
            {{ form_label(form.mkb) }}
            {{ form_widget(form.mkb) }}
        </div>
    {% endif %}

    {% if form.krit_zag is defined and form.krit_zag %}
        <div class="form-group">
            {{ form_errors(form.krit_zag) }}
            {{ form_label(form.krit_zag) }}
            {{ form_widget(form.krit_zag) }}
        </div>
    {% endif %}

    {% if form.krit_str is defined and form.krit_str %}
        <div class="form-group">
            {{ form_errors(form.krit_str) }}
            {{ form_label(form.krit_str) }}
            {{ form_widget(form.krit_str) }}
        </div>
    {% endif %}

    <div class="row">
        {% if form.usl is defined and form.usl %}
            <div class="col-md-6">
                <h3>Услуги</h3>
                <ul id="usl-fields-list" style="list-style: none">
                    {% for uslField in form.usl %}
                        <li class="form-group">
                            {{ form_errors(uslField) }}
                            {{ form_widget(uslField) }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if form.lek is defined and form.lek %}
            <div class="col-md-6">
                <h3>Лекарства</h3>
                <ul id="lek-fields-list" style="list-style: none">
                    {% for uslField in form.lek %}
                        <li class="form-group">
                            {{ form_errors(uslField) }}
                            {{ form_widget(uslField) }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>

    {{ form_rest(form) }}

    <script>
        function updateSelectPicker() {
            $('.selectpicker').selectpicker({
                liveSearch: true,
            });
        }

    </script>
{% endblock %}
