{% extends 'base.html.twig' %}

{% block title %}Hello GridController!{% endblock %}

{% block substylesheets %}
    {% if app.environment == 'dev' %}
        <link rel="stylesheet" href="{{ asset('assets/datatables/DataTables-1.10.25/css/dataTables.bootstrap4.css') }}"/>
    {% else %}
        <link rel="stylesheet" href="{{ asset('assets/datatables/DataTables-1.10.25/css/dataTables.bootstrap4.min.css') }}"/>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">

            <table id="example" class="table table-striped table-bordered" style="width:100%">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Age</th>
                    <th>Start date</th>
                    <th>Salary</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Age</th>
                    <th>Start date</th>
                    <th>Salary</th>
                </tr>
                </tfoot>
            </table>

        </div>
    </div>
{% endblock %}

{% block subjavascripts %}
    {% if app.environment == 'dev' %}
        <script src="{{ asset('assets/datatables/DataTables-1.10.25/js/jquery.dataTables.js') }}"></script>
        <script src="{{ asset('assets/datatables/DataTables-1.10.25/js/dataTables.bootstrap4.js') }}"></script>
    {% else %}
        <script src="{{ asset('assets/datatables/DataTables-1.10.25/js/jquery.dataTables.min.js') }}"></script>
        <script src="{{ asset('assets/datatables/DataTables-1.10.25/js/dataTables.bootstrap4.min.js') }}"></script>
    {% endif %}

    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                language: {
                    url: "{{ asset('assets/datatables/Russian.json') }}"
                },
                processing: true,
                serverSide: false,
                ajax: "{{ path('grid_ajax') }}",
                columns: [
                    { data: "name" },
                    { data: "position" },
                    { data: "office" },
                    { data: "extn" },
                    { data: "start_date" },
                    { data: "salary" }
                ]
            });
        });
    </script>
{% endblock %}
