<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}Welcome!{% endblock %} :: {{ '0JjQoSDQrdC60YHQv9C10YDRgtGD0YE='|base64_decode }}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('/favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('/favicon/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ asset('/favicon/safari-pinned-tab.svg') }}" color="#ffffff">
    <link rel="shortcut icon" href="{{ asset('/favicon/favicon.ico') }}">
    <script src="{{ asset('assets/echarts-5.1.2-dist/echarts.min.js') }}"></script>
    <script src="{{ asset('assets/jquery-3.6.0-dist/js/jquery.js') }}"></script>
    <meta name="apple-mobile-web-app-title" content="ИС Экспертус">
    <meta name="application-name" content="ИС Экспертус">
    <meta name="apple-mobile-web-app-title" content="{{ '0JjQoSDQrdC60YHQv9C10YDRgtGD0YE='|base64_decode }}">
    <meta name="application-name" content="{{ '0JjQoSDQrdC60YHQv9C10YDRgtGD0YE='|base64_decode }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-config" content="{{ asset('/favicon/browserconfig.xml') }}">
    <meta name="theme-color" content="#ffffff">

    {% block stylesheets %}
        <!-- Bootstrap CSS -->
        {% if app.environment == 'dev' %}
            <link rel="stylesheet" href="{{ asset('assets/bootstrap-4.6.0-dist/css/bootstrap.css') }}"/>
        {% else %}
            <link rel="stylesheet" href="{{ asset('assets/bootstrap-4.6.0-dist/css/bootstrap.min.css') }}"/>
        {% endif %}

        <link rel="stylesheet" href="{{ asset('css/btn.css') }}"/>

        {% block substylesheets %}{% endblock %}
    {% endblock %}
</head>
<body class="{% block body_class %}d-flex flex-column h-100{% endblock %}">
<div class="container">
    {% if app.user %}
        {% include 'inc/header.html.twig' %}
    {% endif %}

    {% if breadcrumbs is defined and breadcrumbs and breadcrumbs|length > 0 %}
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li class="breadcrumb-item{% if breadcrumb.class is defined and breadcrumb.class %}{{ breadcrumb.class }}{% endif %}">
                        {% if breadcrumb.url is defined and breadcrumb.url %}
                            <a href="{{ breadcrumb.url }}">{{ breadcrumb.name }}</a>
                        {% else %}
                            <span title="{{ breadcrumb.name }}">{{ breadcrumb.name }}</span>
                        {% endif %}
                    </li>
                {% endfor %}
            </ol>
        </nav>
    {% endif %}


    {% block body %}{% endblock %}

</div>

{% block javascripts %}
    {% if app.environment == 'dev' %}

        <script src="{{ asset('assets/bootstrap-4.6.0-dist/js/bootstrap.bundle.js') }}"></script>
    {% else %}
        {#<script src="{{ asset('assets/jquery-3.6.0-dist/js/jquery.min.js') }}"></script>#}
        <script src="{{ asset('assets/bootstrap-4.6.0-dist/js/bootstrap.bundle.min.js') }}"></script>
    {% endif %}

    {% block subjavascripts %}{% endblock %}
{% endblock %}

</body>
</html>
