{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mb-4">
            {% if app.user.vrach %}
                {% set fio = app.user.vrach.fio %}
                {% set lpu = app.user.vrach.lpu.name %}
                {% set prof = app.user.vrach.prof %}
                {% set snils = app.user.vrach.snils %}
            {% else %}
                {% set fio = 'Незаполнено' %}
                {% set lpu = 'Незаполнено' %}
                {% set prof = 'Незаполнено' %}
                {% set snils = 'Незаполнено' %}
            {% endif %}

            {% include 'inc/profile.html.twig' %}
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="card-grid row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">Управление</strong>
                    <h3 class="mb-0">Критериями качества</h3>
                    {# <div class="mb-1 text-muted">Nov 12</div> #}
                    {# <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p> #}

                    <a href="{{ path('expert_new_krit') }}" class="stretched-link"></a>
                </div>
                <div class="col-auto d-none d-lg-block" style="font-size: 35px">
                    <svg class="bd-placeholder-img" width="100" height="125" xmlns="http://www.w3.org/2000/svg"
                         role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                         focusable="false"><title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#007bff"></rect>
                        <text x="50%" y="50%" fill="#eceeef" font-size="1em" font-weight="600"
                              dominant-baseline="middle" text-anchor="middle">13
                        </text>
                    </svg>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card-grid row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">Просмотреть</strong>
                    <h3 class="mb-0">Стандарты</h3>
                    {# <div class="mb-1 text-muted">Nov 12</div> #}
                    {# <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p> #}

                    <a href="{{ path('expert_show_std') }}" class="stretched-link"></a>
                </div>
                <div class="col-auto d-none d-lg-block" style="font-size: 35px">
                    <svg class="bd-placeholder-img" width="100" height="125" xmlns="http://www.w3.org/2000/svg"
                         role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                         focusable="false"><title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#007bff"></rect>
                        <text x="50%" y="50%" fill="#eceeef" font-size="2em" font-weight="600"
                              dominant-baseline="middle" text-anchor="middle">&telrec;
                        </text>
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="card-grid row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-success">Интеграция</strong>
                    <h3 class="mb-0">SOAP сервис для МИС</h3>
                    {# <div class="mb-1 text-muted">Nov 11</div> #}
                    <a href="{{ path('ws_expertise', {'trailingSlash' : '/'}) }}?wsdl" target="_blank" class="stretched-link"></a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="{{ asset('/img/icon/api.png') }}" height="125px"/>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card-grid row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-success">Просмотреть</strong>
                    <h3 class="mb-0">Отчеты</h3>
                    {# <div class="mb-1 text-muted">Nov 12</div> #}
                    {# <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p> #}

                    <a href="{{ path('expert_report') }}" class="stretched-link"></a>
                </div>
                <div class="col-auto d-none d-lg-block" style="font-size: 35px">
                    <svg class="bd-placeholder-img" width="100" height="125" xmlns="http://www.w3.org/2000/svg"
                         role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                         focusable="false"><title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#17a2b8"></rect>
                        <text x="50%" y="50%" fill="#eceeef" font-size="1em" font-weight="600"
                              dominant-baseline="middle" text-anchor="middle">&telrec;
                        </text>
                    </svg>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
