<div class="card p-3">
    <div class="d-flex align-items-start">
        <div class="image">
            <img src="{{ asset('/img/icon/doctor-icon-vector-1100452.jpg') }}" height="155px"/>
        </div>
        <div class="ml-3 w-100 d-flex flex-column">
            <h5 class="mb-0 mt-0">{{ fio }}</h5>
            <small class="mb-3 text-muted">{{ lpu }}</small>
            <div class="d-flex justify-content-between">
                <span class="text-muted">Должность</span>
                <span>{{ prof }}</span>
            </div>
            <div class="d-flex justify-content-between">
                <span class="text-muted">СНИЛС</span>
                <span>{{ snils }}</span>
            </div>
        </div>
    </div>
</div>